@font-face {
    font-family: 'Shabnam';
    src: url('../fonts/Shabnam.woff2') format('woff2'),
        url('../fonts/Shabnam.woff') format('woff'),
        url('../fonts/Shabnam.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    direction: rtl;
    font-family: 'Shabnam';
}

.duration-300 {
    transition-duration: 300ms;
}